BetterDiscord
bpytop
btop
Code
dconf
eas-cli-nodejs
enchant
evolution
forge
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
ibus
kdeconnect
nautilus
pulse
wal
wezterm
wlogout

BetterDiscord/
bpytop/
btop/
Code/
dconf/
eas-cli-nodejs/
enchant/
evolution/
forge/
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
kdeconnect/
nautilus/
pulse/
wal/
wezterm/
wlogout/
.gsd-keyboard.settings-ported
gnome-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list